@use "@/styles/variables" as *;

.mainContainer {
  width: 100vw;
  height: 100vh; 
  max-width: 1355px;
  margin: 50px auto;
}

.banner {
  width: 100%;
  height: 128px;
  border-radius: 20px;
  background: $lineer-gradient;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;

  p {
    color: #3B3B3B;
    font-size: 36px;
  }
}

.imageAndTextContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center;
  margin-top: 50px;
}

.imageContainer {
  width: 45%;
  display: flex; 
  justify-content: center; 
  overflow: hidden;

  img {
    width: 65%;
    height: auto;
    object-fit: cover;
  }
}

.textContainer {
  width: 45%;
  padding-top: 30px;
  text-align: left;
  color: $clr-theme;
}

.title {
  font-size: 2.5rem;
}

.subtitle {
  color: black;
}

.goHomePagebutton {
  padding: 20px;
  width: 244px;
  margin-top: 45px;
  font-weight: 500;
  color: white;
  background-color: #444444;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.goHomePagebutton:hover {
  background-color: #000000;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.goHomePagebutton:active {
  transform: translateY(-1px);
}
