.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem; /* Increased gap between elements for better spacing */
  
    .pageButton {
      background: none;
      border: none;
      font-size: 1.5rem; /* Increased font size for visibility */
      cursor: pointer;
      color: #333; /* Color for better contrast */
  
      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
  
      img {
        width: 24px; /* Increased width for better visibility */
        height: 20px; /* Increased height for better visibility */
      }
    }
  
    .pageInfo {
      font-size: 1.2rem;
    }
  }
  