.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 20px; 
  
    .pageButton {
      background: none;
      border: none;
      cursor: pointer;
      color: #333;
      display: flex;
      align-items: center;
      justify-content: center; 
      
      
      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
      
      font-size: 1rem; 
      
      img {
        width: 10px; 
        height: 24px; 
      }
    }
  
    .arrow {
      font-size: 1.5rem; 
    }
  
    .pageInfo {
      font-size: 1.2rem; 
    }
  }
  