.mainContainer {
    width: 99vw;
    height: 100vh; 
  }

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.words{
    display: grid;
    grid-template-columns: 3.05fr 0.60fr 1.2fr 1.5fr 1.1fr 1fr; 
    width: 1355px;
    padding-bottom: 1rem; 

    :last-child{
        text-align: center;
    }

}

.cards{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 


.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
  }

  .pageButton {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.pageButton.disabled {
  background-color: transparent;
  cursor: not-allowed;
}

.pageButton img {
  width: 20px;
  height: 20px;
}

.pageInfo {
  font-size: 1rem;
  margin: 0 10px;
}
