// colors

$clr-theme: #951763;
$clr-theme-lighter: #FDECFF;
$clr-theme-light: #CBA4F2;
$clr-banner-text: #3B3B3B;
$clr-text: #444444;
$clr-text-accent: #F18506;
$clr-smoke: #D9D9D9;

$lineer-gradient: linear-gradient(0deg, #C574EC 100%, #E3D2E9 100%);



// SCREEN SIZES
$screen-xs: 320px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-2xl: 1400px;
$screen-3xl: 1600px;

// BORDER RADIUS
$rounded-2xs: 2px;
$rounded-xs: 4px;
$rounded-sm: 8px;
$rounded-md: 16px;
$rounded-lg: 20px;
$rounded-xl: 24px;
$rounded-full: 50%;

// GAP
$gap-2xs: 2px;
$gap-xs: 4px;
$gap-sm: 8px;
$gap-md: 16px;
$gap-lg: 20px;
$gap-xl: 24px;
$gap-2xl: 32px;

// PADDING
$padding-2xs: 2px;
$padding-xs: 4px;
$padding-sm: 8px;
$padding-md: 16px;
$padding-lg: 20px;
$padding-xl: 24px;
$padding-2xl: 32px;
$padding-3xl: 40px;
$padding-4xl: 64px;

// MARGIN
$margin-2xs: 2px;
$margin-xs: 4px;
$margin-sm: 8px;
$margin-md: 16px;
$margin-lg: 20px;
$margin-xl: 24px;
$margin-2xl: 32px;
$margin-3xl: 40px;

// FONT SIZE
$font-2xs: 10px;
$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 20px;
$font-xl: 24px;
$font-2xl: 32px;
$font-3xl: 40px;
$font-4xl: 64px;
$font-5xl: 96px;

// FONT WEIGHT
$text-light: 300;
$text-regular: 400;
$text-medium: 500;
$text-semibold: 600;
$text-bold: 700;

// SHADOW
$shadow-xs: 0px 0px 4px rgba(145, 95, 226, 0.1);
$shadow-sm: 0px 0px 4px rgba(145, 95, 226, 0.2);
$shadow-md: 0px 0px 4px rgba(145, 95, 226, 0.3);
$shadow-lg: 0px 0px 4px rgba(145, 95, 226, 0.6);
$shadow-xl: 0px 0px 4px rgba(145, 95, 226, 0.8);

$shadow-sm-light: 0px 0px 4px #e2d4f7;
$shadow-md-light: 0px 0px 8px #e2d4f7;
$shadow-lg-light: 0px 0px 12px #e2d4f7;

