.mainContainer {
    width: 100vw;
    height: 100vh; 
  }

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.words{
    display: grid;
    grid-template-columns: 3.3fr 0.7fr 1fr 1.5fr 1.5fr 0.5fr;
    width: 1355px;
    padding-bottom: 1rem; 

    :last-child{
        text-align: center;
    }

}

.cards{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}