@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;700&display=swap");

.card {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 0.3fr; 
  width: 1355px;
  align-items: center;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  gap: 10px;
}

.image {
  width: 100px;
  height: 75px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 15px;
}

.title {
  font-size: 1.2rem;
  font-weight: 700;
}

.location,
.price {
  color: #666;
  margin: 5px 0;
}

.category,
.type,
.time { 
  text-align: start;
}

.action {
  text-align: center;
}

.actButton {
  background: none;
  border: none;
  font-size: 1.2rem;
  color: #b71082;
  cursor: pointer;
}

.actButton:hover {
  color: #951763;
}
