.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.words{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 0.5fr;
    width: 1355px;
    padding-bottom: 1rem; 

}

.cards{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
  }

  .pageButton {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.pageButton.disabled {
  background-color: transparent;
  cursor: not-allowed;
}

.pageButton img {
  width: 20px;
  height: 20px;
}

.pageInfo {
  font-size: 1rem;
  margin: 0 10px;
}
