.card {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 1fr;
    gap: 10px;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  
    & > div {
      font-size: 0.9rem;
    }
  }
  
  .name {
    font-weight: bold;
  }
  
  .email {
    color: #555;
  }
  
  .phone {
    color: #555;
  }
  
  .action {
    display: flex;
    gap: 20px;
  
    .editButton {
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      width: 1.25rem;
      height: 24px;
  
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  