.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.words{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 0.3fr;
    width: 1355px;
    padding-bottom: 1rem; 

    :last-child{
        text-align: center;
    }

}

.cards{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}