.cardContainer {
    width: 415px;
    height: 339px;
    border-radius: 20px;

    position: relative;

    background: url("/assets/images/ProperityFallbackImg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-decoration: none;

    transition: all ease 0.5s;

    &:hover {
        transform: scale(1.03);
    }


    .cardTextBox {

        background-color: #D9D9D9;
        width: 365px;
        height: 90px;
        margin-bottom: 30px;
        border-radius: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;



        .cardText {
            .cardTitle {
                font-size: 15px;
                color: #3B3B3B;
                text-decoration: none;
            }

            .cardSubTitle {
                font-size: 15px;
                color: #939393;
                font-weight: 400;
                text-decoration: none;
            }
        }

        // .cardPrice {
        //     width: 93px;
        //     height: 46px;
        //     border-radius: 10px;
        //     border: solid #444444 2px;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        // }
    }
}