@use "@/styles/variables" as *;

.mainContainer {
    margin: auto;
    width: 100%; 

    .container {
        width: 100%; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .banner {
            width: 100%;
            max-width: 1355px; 
            height: 128px;

            border-radius: 20px;
            box-shadow: 0px 3px 5px gray;
            background: $lineer-gradient;

            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-left: 60px;
            margin-bottom: 50px;

            p {
                color: #3B3B3B;
                font-size: 36px;
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
            }
        }
    }
}
