@use "@/styles/variables" as *;

.mainContainer {
    margin: 50px auto;

    .container {
        margin-top: 50px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}