.divClass {
    background-color: #383838;
    display: flex;
    justify-content: space-around;
    
        padding: 50px;
        text-align: center;
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
}

.footerSegment {
    color: #939393;
    max-width: 17%;
    justify-content: left;
    text-align: left;
    
}





