.needHelpContainer {

    width: 90%;
    max-width: 1355px;
    padding: 0 100px 0 100px;
    margin-bottom: 100px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .textGroup {
        line-height: 1.1;

        .title {
            font-size: 40px
        }

        .text {
            font-size: 18px
        }
    }



    .buttonGroup {
        display: flex;
        gap: 30px;

        a {
            text-decoration: none;
        }

        .button {
            width: 220px;
            height: 53px;
            border-radius: 26.5px;
            border: none;
            background-color: white;
            cursor: pointer;
            font-weight: 600;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease, ;
        }

        .contactUsLink {
            border: solid #939393 2px;

            &.contactUsLink:hover {
                border: solid #CBA4F2 2px;
                background-color: #CBA4F2;
                color: #444444;
            }
        }

        .contactUsCall {
            border: solid #D9D9D9 2px;
            background-color: #D9D9D9;

            &.contactUsCall:hover {
                border: solid #CBA4F2 2px;
                background-color: #CBA4F2;
                color: #444444;
            }
        }
    }


}