@use "@/styles/variables" as *;

.subBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 90%;
    max-width: 1355px;
    margin: 0 5% 5% 5%;
    padding: 5%;
    border-radius: 15px;
    background: url("/assets/images/subBanner.png") no-repeat bottom 100% right 0% / 640px;
    background-color: #fdecff;
    box-shadow: 0px 4px 5px gray;

    .motto {
        font-weight: 500;
        font-size: 48px;
        color: $clr-banner-text;
        margin-bottom: 30px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    }
}

@media (max-width: 1200px) {
    .subBanner{
        height: 700px;
        background: url("/assets/images/subBanner.png") no-repeat bottom 0% right 0% / 600px;
        background-color: #fdecff;
    }
}

@media (max-width: 800px) {
    .subBanner{
        height: 700px;
        background: url("/assets/images/subBanner.png") no-repeat bottom 0% right 90% / 500px;
        justify-content: start;
        background-color: #fdecff;
    }
    .motto{
        font-size: 32px;
    }
}