@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;700&display=swap");


.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;

    .container {
        width: 982px;
        display: flex;
        flex-direction: column;
        align-items: center;

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 60px;

            h2 {
                margin-top: 60px;
                align-self: flex-start;
                font-size: 30px;
                font-weight: 400;

                &:first-of-type {
                    margin-top: 0px;
                }
            }

            .formInputs {

                width: 866px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 60px;

                h2 {
                    margin-top: 60px;
                    align-self: flex-start;
                    font-size: 30px;
                    font-weight: 400;

                    &:first-of-type {
                        margin-top: 0px;
                    }
                }

                .multipleInput {
                    display: flex;
                    justify-content: space-between;
                }

            }

            .propertiesBox {
                display: flex;
                flex-direction: column;
                border: 1px solid #4A4A4A;
                border-radius: 40px;
                padding: 30px 60px 60px 60px;

                h2 {
                    margin: -50px 0 40px 40px;
                    padding: 0 10px;
                    background-color: white;
                }
            }

            .photoAdd {
                height: 200px;
                background-color: #F5F5F5;
                justify-content: space-around;
                align-items: center;

                .plusSign {
                    height: 60px;
                    width: 60px;
                    border-radius: 30px;
                    background-color: #951763;
                    align-self: center;
                    margin-top: -45px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 40px;
                    color: white;
                    cursor: pointer;
                    transition: all 0.3s ease;

                    &:hover {
                        scale: 1.1;
                    }
                }

                .uploadButton{
                    height: 100px;
                    width: 190px;
                    font-family: 'Advent Pro', sans-serif;
                    font-weight: 500;
                    font-size: 20px;
                    border-radius: 10px;
                    border: none;
                    background-color: #951763;
                    color: white;

                    padding: 10px;
                    margin-top: 110px;
                    cursor: pointer;
                }
            }


            .submitButton {
                width: 282px;
                height: 60px;
                background-color: #951763;
                border: none;

                font-size: 30px;
                font-weight: 500;
                color: white;
                font-family: "Advent Pro", sans-serif !important;

                align-self: flex-end;
                transition: all ease 0.2s;
                cursor: pointer;

                &:active {
                    translate: 0 4px;
                }
            }
        }
    }
}