@use "@/styles/variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner {
  background: $lineer-gradient;
  width: 1357px;
  height: 128px;
  display: flex;
  align-items: center;
  margin: 20px;
  padding: 40px;
  border-radius: 20px;

  h1 {
    font-size: 2.25rem;
    font-weight: 400;
  }
}

.form {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputField {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #b71082;
  margin: 30px 0;

  label {
    font-family: 'Advent Pro', sans-serif;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #939393;
    font-size: 1.625rem;
    pointer-events: none;
    transition: 0.15s ease;
  }

  input {
    font-family: 'Advent Pro', sans-serif;
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.625rem;
    color: #939393;

    &:focus+label,
    &:valid+label {
      font-size: 1.2rem;
      top: 10px;
      transform: translateY(-120%);
    }
  }
}

.updateButton {
  font-family: 'Advent Pro', sans-serif;
  font-size: 1.625rem;
  width: 280px;
  height: 60px;
  background-color: #951763;
  border: none;
  color: white;
  margin: 30px 0;
  cursor: pointer;

  transition: all 0.3s ease;

  &:active {
    translate: 0 3px;
  }
}

.updateButton:hover {
  background-color: #b21878;
  color: white;
}

.deleteSection {
  text-align: center;
  padding: 20px;

  p {
    font-family: 'Advent Pro', sans-serif;
    color: #000000;
    margin-bottom: 20px;
    font-size: 1.2rem;
  }

  .deleteButton {
    font-family: 'Inter', sans-serif;
    font-size: 1.125rem;
    width: 639px;
    padding: 10px;
    margin-bottom: 100px;
    background-color: #FFB2B2;
    border: 2px solid #b71082;
    color: #000000;
    text-align: start;
    border-radius: 10px;
    cursor: not-allowed;

    text-align: justify;


    transition: all 0.3s ease;

    &:active {
      translate: 0 3px;
    }
  }

  .deleteButton:hover {
    background-color: #f8f8f8;
    color: #b71082;
  }


}
