@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;700&display=swap');

.container {
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  padding: 10px;
}

.toggleButton {
  position: fixed;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100;
  display: flex;
  align-items: center;

  .icon {
    font-size: 2rem;
    color: #951763;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #444444;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
  padding-top: 50px;

  &.open {
    transform: translateX(0);
  }

  .avatarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    position: relative;
  }

  .logo {
    max-width: 100%;
    height: auto;
  }

  .closeButton {
    position: absolute;
    top: -15px;
    right: 20px;
    background: none;
    border: none;
    font-size: 1.5rem;  
    color: white;
    cursor: pointer;
   
  }

  .navLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .navLinks a {
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    margin: 10px 0;
    transition: color 0.3s ease;
    width: 100%;
    text-align: left;
    padding-left: 55px;
    
    &:hover {
      color: #fff;
    }
  }
}
