.cards {
    display: flex;
    justify-content: space-around;
}
.exploreTitle {
    color: #444444;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: -10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.exploreText {
    color: #F18506;
    font-size: 20px;
    margin-bottom: 20px;
}

.scrollableContainer {
    height: 320px;
    overflow-x: scroll;
    overflow-y: visible;
    padding: 5px 5px;
}

.exploreByCityContainer {
    margin-top: 40px;
    width: 90%;
    max-width: 1355px;
    margin-bottom: 50px;


}