@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;700&display=swap');

.card {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr 1fr;
  align-items: center;
  padding: 1rem;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon img {
  width: 40px;
  height: 40px;
}

.name, .sequence, .active {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.name {
  font-weight: 700;
}

.sequence {
  color: #666;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.editButton {
  background: none;
  border: none;
  cursor: pointer;
}

.editButton img {
  width: 20px;
  height: 20px;
}

.editButton:hover {
  color: #951763;
}
