@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;700&display=swap');

.card {
  align-items: center;
  padding: 1rem;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr 1fr 0.5fr;
  width: 100%;
  align-items: center;
}

.icon {
  width: 40px;
  height: 40px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name {
  font-size: 1rem;
  font-weight: 700;
}

.sequence, .active {
  color: #666;
  margin: 5px 0;
}

.action {
  text-align: center;
  display: flex;
  gap: 0.625rem;
}

.editButton {
  background: none;
  border: none;
  font-size: 1.2rem;
  color: #b71082;
  cursor: pointer;
}

.editButton:hover {
  color: #951763;
}
